<div class="container">
  <form [formGroup]="compareInfo" class="d-flex justify-content-center">
    <div class="d-flex flex-md-row gap-5">
      <div>
        <div class="d-flex flex-md-row gap-5 mt-3">
          <div>
            <mat-form-field appearance="outline" style="width: 300px">
              <mat-label>Select the first Uni</mat-label>
              <mat-select formControlName="uni_id1">
                <mat-option *ngFor="let uni of unis1" [value]="uni.id">
                  {{uni.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 300px">
              <mat-label>Select an Course from this Uni</mat-label>
              <mat-select formControlName="course_id1">
                <mat-option *ngFor="let course of courses1" [value]="course.id">
                  {{course.course_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="d-flex flex-md-row gap-5 mt-1">
          <div>
            <mat-form-field appearance="outline" style="width: 300px">
              <mat-label>Select the second Uni</mat-label>
              <mat-select formControlName="uni_id2">
                <mat-option *ngFor="let uni of unis2" [value]="uni.id">
                  {{uni.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" style="width: 300px">
              <mat-label>Select an Course from this Uni</mat-label>
              <mat-select formControlName="course_id2">
                <mat-option *ngFor="let course of courses2" [value]="course.id">
                  {{course.course_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="d-flex flex-md-column gap-1 mt-auto mb-auto">
        <div class="mt-2">
          <mat-form-field appearance="outline">
            <mat-label>Date(starting from) [YYYY-MM-DD]</mat-label>
            <input type="text" matInput formControlName="date">
          </mat-form-field>
        </div>
      </div>

      <div class="mt-auto mb-auto">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!compareInfo.valid"
          (click)="compareDefault()"
        >
          compare
        </button>
      </div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="startSearching">
  <mat-spinner></mat-spinner>
</div>

<div class="d-flex justify-content-center mt-5" style="color: red" *ngIf="showErrorMessage">
  <div class="d-flex flex-md-column text-center">
    <div>NOT ENOUGH RATING FROM ONE/TWO OF THE UNI(S) YOU SELECTED</div>
    <div>PLEASE SELECT ANOTHER COURSE</div>
  </div>
</div>

<div *ngIf="trendPlotted">
  <div>
    <plotly-plot [data]="trendPlotted?.graph1?.data" [layout]="trendPlotted?.graph1?.layout"></plotly-plot>
  </div>
  <div class="d-flex flex-md-column">
    <div>
      <h2 class="d-flex justify-content-center">More Details</h2>
    </div>
    <plotly-plot [data]="trendPlotted?.graph2?.data" [layout]="trendPlotted?.graph2?.layout"></plotly-plot>
  </div>
</div>

<form [formGroup]="compareInfo" *ngIf="trendPlotted" class="mb-5">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-md-row gap-5">
      <div class="d-flex flex-md-row gap-2 mt-auto mb-auto">
        <mat-label class="fw-bold">Comparing Mode: </mat-label>
        <mat-radio-group
          aria-label="compare-mode"
          class="d-flex flex-md-row gap-2"
          formControlName="mode"
        >
          <mat-radio-button value="1">Age</mat-radio-button>
          <mat-radio-button value="2">Gender</mat-radio-button>
          <mat-radio-button value="3">Current Semester</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          (click)="compareWithMode()"
        >
          compare with mode
        </button>
      </div>
    </div>
  </div>
</form>

<div *ngIf="trendPlottedDetailed">
  <div class="d-flex flex-md-row gap-2">
    <div>
      <plotly-plot [data]="trendPlottedDetailed?.graph1?.first?.data"
                   [layout]="trendPlottedDetailed?.graph1?.first?.layout">
      </plotly-plot>
    </div>
    <div>
      <plotly-plot [data]="trendPlottedDetailed?.graph2?.first?.data"
                   [layout]="trendPlottedDetailed?.graph2?.first?.layout">
      </plotly-plot>
    </div>
  </div>

  <div class="d-flex flex-md-row gap-2">
    <div>
      <plotly-plot [data]="trendPlottedDetailed?.graph1?.second?.data"
                   [layout]="trendPlottedDetailed?.graph1?.second?.layout">
      </plotly-plot>
    </div>
    <div>
      <plotly-plot [data]="trendPlottedDetailed?.graph2?.second?.data"
                   [layout]="trendPlottedDetailed?.graph2?.second?.layout">
      </plotly-plot>
    </div>
  </div>
</div>

