<mat-card style="width: 60%;margin-left: 20%;">
    <mat-card-content>
        <mat-card-title>About Ara</mat-card-title>
        <p style="line-height: 30px; font-size: 17px;"><b>ARA</b> (Advanced Review Analyser) is a project from
            LATFinders group.<br /> A group of
            students
            of the course
            Learning Analytics.
            <br /> The aim is to make it easier to compare universities and courses with
            each other and to select the best course easier.<br />
            We want to make the decision making for the universities and for the students easier.<br />
            We use the data on study check as data source and we use ARIMA Model to predict the trend of ratings.<br />
            You can find us under the link of the github project.
        </p>
        <mat-card-actions style="text-align: center;"><a href="https://github.com/Boby024/LATFinders"><button
                    style="padding:20px 40px; font-size: 20px;" mat-raised-button color="primary">
                    Github
                </button></a></mat-card-actions>
    </mat-card-content>
</mat-card>